<!-- really nice social icons can be found at the mdboostrap site https://mdbootstrap.com/angular/components/social-buttons/
but you need to pay for them since it is in the premium bundle.
So I went instead with the icons below
-->

<!-- some bootstrap square bottons
      <a class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>
      <a class="btn btn-social-icon btn-twitter">
        <span class="fa fa-facebook"></span>
      </a>
      -->

      <!--- below are some spinnning icons I found at this site https://bootsnipp.com/snippets/featured/spinning-social-icons
      Note, the CSS used also from that site is included with the social_buttons component.  
      -->

      	<div>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				
				</div>
