<!--Main Navigation-->
<header>

 <!-- 
   Code for the Navbar is from site https://mdbootstrap.com/angular/components/navbars/
   Tutorial on this can be found here https://mdbootstrap.com/landing-page-lesson-1/
   (However, this tutorial may not be geared towqards an Angular site)
   Refer to step 2
   Remember to place .container inside your Navbar in order to center the links.  Also add a class .fixed-top to the Navbar so that our navbar is stuck to the top of the screen. It will be visible all the time, even when you scroll down your page.
 <!--Navbar-->
<!-- this expands tool bar for large screens.  I've used a modified version below that expands for small screen so I
 could see whole tool bar during devlopment
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
 -->
  
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/doing_business_in_babylon" routerLinkActive="active">Residents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link text-dark dropdown-toggle waves-light">
                Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

<!-- Search form -->
        <div class="nav-item text-light">
        <app-search-form></app-search-form>
        </div>
<!-- Former Search form  
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
      -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

</header>
<!--Main Navigation-->
