<h2>Doing Business in Babylon</h2>
<img src="https://www.townofbabylon.com/images/pages/N170/NHBC1.gif">
<br>
The Town of Babylon is committed to sustaining a sound environment for business to grow and prosper throughout our area. Business is the economic engine of our Town, providing revenue to our communities and creating good paying jobs for our residents. Because of these benefits, the Town recognizes the importance of maintaining cooperative relationships with local businesses through the not-for-profit Industrial Development Agency, which offers incentives to business looking to expand or relocate here. <br>
<br>
Babylon has also embarked on several initiatives to breathe new life into downtown areas, allowing these communities to be more accessible for new business opportunities and creating a nurturing environment for commercial organizations to grow. <br>
<br>
Whether your organization is looking to relocate here or already calls Babylon home, we&rsquo;re here to assist you with your needs to see that Babylon remains the premiere location to do business on Long Island.<br>
<br>
<br>
<h2>Getting Your Business Started</h2>
<br>
Looking to get your business off the ground? Check <a href="http://www.townofbabylon.com/index.aspx?nid=306" target="_self" >this page</a> for information on what steps the Town of Babylon requires business owners to take to get your business going.&nbsp;<br>
<br>
<h2>Resources for Business Owners</h2>
<br>
Our <a href="http://www.townofbabylon.com/index.aspx?nid=309" target="_self" >Resources for Business Owners</a> page provides you with state, county and local links to help you do business in the Town of Babylon. You'll also find links to local business groups and advocates here.&nbsp;<br>
<br>
<h2>Babylon IDA</h2>
<br>
The&nbsp;<a  href="http://townofbabylon.com/index.aspx?NID=99" target="_self">Babylon Industrial Development Agency (IDA)</a> serves as the Town of Babylon's central vehicle for economic development. This site is intended for companies within the Town of Babylon as well as other companies looking to more here, along with information on financing, expansion, relocation, and job creation/job retention programs.<br>
<h2>Chambers of Commerce</h2>
<br>
There are numerous chambers of commerce located in communities throughout the Town of Babylon designed to promote and provide resources for local businesses.&nbsp;Click&nbsp;<a  href="http://www.townofbabylon.com/index.aspx?NID=100" target="_self">here</a>&nbsp;to find your local chamber. <br>
<h2>Bids &amp; RFPs</h2>
<br>
The Town of Babylon routinely puts out bids and Requests for Proposals (RFPs) to local businesses for certain services. Is your business interested in taking part in this process? Click <a href="http://www.townofbabylon.com/index.aspx?NID=302" target="_self" >here</a> to see what we're looking for.&nbsp;<br>
<h2>Town Code</h2>
<br>
Before starting a business, it is important to check what rules and regulations our Town follows. Read our <a href="https://ecode360.com/BA0924?needHash=true" target="_blank" >Town Code</a> for information on zoning requirements, building specifications and more.&nbsp;<br>
<h2>Community Development</h2>
<br>
Our&nbsp;<a href="http://townofbabylon.com/index.aspx?nid=135" target="_self" >Community Development Program (CDP)</a> works to improve community facilities, principally for persons of low and moderate income. Community Development is responsible for overseeing, managing and administering projects that receive funding from HUD. Projects include the construction and rehabilitation of parks, streets, sidewalks, roads, senior centers, and handicap accessibility features in various low-mod areas within the Town.
<br>
